<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rulai.spider.mapper.MeishijieCookbookUrlMapper">

    <resultMap id="BaseResultMap" type="com.rulai.spider.bean.model.MeishijieCookbookUrlDO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
        <result column="is_crawled" jdbcType="TINYINT" property="isCrawled" />
        <result column="cookbook_name" jdbcType="VARCHAR" property="cookbookName" />
        <result column="cookbook_url" jdbcType="VARCHAR" property="cookbookUrl" />
        <result column="second_location_url" jdbcType="VARCHAR" property="secondLocationUrl" />
        <result column="top_location_url" jdbcType="VARCHAR" property="topLocationUrl" />
        <result column="is_effective" jdbcType="TINYINT" property="isEffective" />
        <result column="crawl_type" jdbcType="TINYINT" property="crawlType" />
    </resultMap>

    <sql id="Query_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                AND ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                AND ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                AND ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                AND ${criterion.condition}
                            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                #{listItem}
                            </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Query_Where_Clause">
        <where>
            <foreach collection="query.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    AND ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    AND ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    AND ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    AND ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        id,gmt_create,gmt_update,is_crawled,cookbook_name,cookbook_url,second_location_url,top_location_url,is_effective,crawl_type
    </sql>

    <select id="countByQuery" parameterType="com.rulai.spider.bean.query.MeishijieCookbookUrlQuery" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM meishijie_cookbook_url
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </select>
    
    <select id="countByPrimaryKey" parameterType="Long" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM meishijie_cookbook_url WHERE id = #{id, jdbcType=BIGINT} 
    </select>

    <select id="selectByQuery" parameterType="com.rulai.spider.bean.query.MeishijieCookbookUrlQuery" resultMap="BaseResultMap">
        SELECT
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
            FROM meishijie_cookbook_url
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            ORDER BY ${orderByClause}
        </if>
        <include refid="MysqlDialectSuffix" />
    </select>

    <select id="selectByPrimaryKey" parameterType="Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM meishijie_cookbook_url WHERE id = #{id, jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="Long">
        DELETE FROM meishijie_cookbook_url WHERE id = #{id, jdbcType=BIGINT}
    </delete>

    <delete id="deleteByQuery" parameterType="com.rulai.spider.bean.query.MeishijieCookbookUrlQuery">
        DELETE FROM meishijie_cookbook_url
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </delete>

    <insert id="insertSelective" parameterType="com.rulai.spider.bean.model.MeishijieCookbookUrlDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO meishijie_cookbook_url
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gmt_create,gmt_update,
            <if test="isCrawled != null">
                is_crawled,
            </if>
            <if test="cookbookName != null">
                cookbook_name,
            </if>
            <if test="cookbookUrl != null">
                cookbook_url,
            </if>
            <if test="secondLocationUrl != null">
                second_location_url,
            </if>
            <if test="topLocationUrl != null">
                top_location_url,
            </if>
            <if test="isEffective != null">
                is_effective,
            </if>
            <if test="crawlType != null">
                crawl_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            NOW(), NOW(),
            <if test="isCrawled != null">
                #{isCrawled,jdbcType=TINYINT},
            </if>
            <if test="cookbookName != null">
                #{cookbookName,jdbcType=VARCHAR},
            </if>
            <if test="cookbookUrl != null">
                #{cookbookUrl,jdbcType=VARCHAR},
            </if>
            <if test="secondLocationUrl != null">
                #{secondLocationUrl,jdbcType=VARCHAR},
            </if>
            <if test="topLocationUrl != null">
                #{topLocationUrl,jdbcType=VARCHAR},
            </if>
            <if test="isEffective != null">
                #{isEffective,jdbcType=TINYINT},
            </if>
            <if test="crawlType != null">
                #{crawlType,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <insert id="batchInsert" parameterType="com.rulai.spider.bean.model.MeishijieCookbookUrlDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO meishijie_cookbook_url
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gmt_create,gmt_update,
            <if test="isCrawled != null">
                is_crawled,
            </if>
            <if test="cookbookName != null">
                cookbook_name,
            </if>
            <if test="cookbookUrl != null">
                cookbook_url,
            </if>
            <if test="secondLocationUrl != null">
                second_location_url,
            </if>
            <if test="topLocationUrl != null">
                top_location_url,
            </if>
            <if test="isEffective != null">
                is_effective,
            </if>
            <if test="crawlType != null">
                crawl_type,
            </if>
        </trim>
        VALUES
        <foreach collection="records" item="record" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                NOW(), NOW(),
                <if test="isCrawled != null">
                    #{record.isCrawled,jdbcType=TINYINT},
                </if>
                <if test="cookbookName != null">
                    #{record.cookbookName,jdbcType=VARCHAR},
                </if>
                <if test="cookbookUrl != null">
                    #{record.cookbookUrl,jdbcType=VARCHAR},
                </if>
                <if test="secondLocationUrl != null">
                    #{record.secondLocationUrl,jdbcType=VARCHAR},
                </if>
                <if test="topLocationUrl != null">
                    #{record.topLocationUrl,jdbcType=VARCHAR},
                </if>
                <if test="isEffective != null">
                    #{record.isEffective,jdbcType=TINYINT},
                </if>
                <if test="crawlType != null">
                    #{record.crawlType,jdbcType=TINYINT},
                </if>
            </trim>
        </foreach>
    </insert>

    <update id="updateByQuerySelective" parameterType="map">
        UPDATE meishijie_cookbook_url
        <set>
            gmt_update=now(),
            <if test="record.isCrawled != null">
                is_crawled = #{record.isCrawled,jdbcType=TINYINT},
            </if>
            <if test="record.cookbookName != null">
                cookbook_name = #{record.cookbookName,jdbcType=VARCHAR},
            </if>
            <if test="record.cookbookUrl != null">
                cookbook_url = #{record.cookbookUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.secondLocationUrl != null">
                second_location_url = #{record.secondLocationUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.topLocationUrl != null">
                top_location_url = #{record.topLocationUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.isEffective != null">
                is_effective = #{record.isEffective,jdbcType=TINYINT},
            </if>
            <if test="record.crawlType != null">
                crawl_type = #{record.crawlType,jdbcType=TINYINT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Query_Where_Clause" />
        </if>
    </update>

    <update id="updateByQuery" parameterType="map">
        UPDATE meishijie_cookbook_url
        SET
        is_crawled = #{record.isCrawled,jdbcType=TINYINT},
        cookbook_name = #{record.cookbookName,jdbcType=VARCHAR},
        cookbook_url = #{record.cookbookUrl,jdbcType=VARCHAR},
        second_location_url = #{record.secondLocationUrl,jdbcType=VARCHAR},
        top_location_url = #{record.topLocationUrl,jdbcType=VARCHAR},
        is_effective = #{record.isEffective,jdbcType=TINYINT},
        crawl_type = #{record.crawlType,jdbcType=TINYINT},
        gmt_update = NOW()
        <if test="_parameter != null">
            <include refid="Update_By_Query_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.rulai.spider.bean.model.MeishijieCookbookUrlDO">
        UPDATE meishijie_cookbook_url
        <set>
            gmt_update=NOW(),
            <if test="isCrawled != null">
                is_crawled = #{isCrawled,jdbcType=TINYINT},
            </if>
            <if test="cookbookName != null">
                cookbook_name = #{cookbookName,jdbcType=VARCHAR},
            </if>
            <if test="cookbookUrl != null">
                cookbook_url = #{cookbookUrl,jdbcType=VARCHAR},
            </if>
            <if test="secondLocationUrl != null">
                second_location_url = #{secondLocationUrl,jdbcType=VARCHAR},
            </if>
            <if test="topLocationUrl != null">
                top_location_url = #{topLocationUrl,jdbcType=VARCHAR},
            </if>
            <if test="isEffective != null">
                is_effective = #{isEffective,jdbcType=TINYINT},
            </if>
            <if test="crawlType != null">
                crawl_type = #{crawlType,jdbcType=TINYINT},
            </if>
        </set>
        WHERE id = #{id, jdbcType=BIGINT}
    </update>
    
    <update id="batchUpdateByPrimaryKey" parameterType="com.rulai.spider.bean.model.MeishijieCookbookUrlDO">
        UPDATE meishijie_cookbook_url
        <trim prefix="SET" suffixOverrides=",">
            <trim prefix="is_crawled = CASE" suffix="END,">
                <foreach collection="records" item="record" index="index">
                    WHEN id = #{record.id, jdbcType=BIGINT} 
                    THEN #{record.isCrawled, jdbcType=TINYINT}
                </foreach>
            </trim>
            <trim prefix="cookbook_name = CASE" suffix="END,">
                <foreach collection="records" item="record" index="index">
                    WHEN id = #{record.id, jdbcType=BIGINT} 
                    THEN #{record.cookbookName, jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="cookbook_url = CASE" suffix="END,">
                <foreach collection="records" item="record" index="index">
                    WHEN id = #{record.id, jdbcType=BIGINT} 
                    THEN #{record.cookbookUrl, jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="second_location_url = CASE" suffix="END,">
                <foreach collection="records" item="record" index="index">
                    WHEN id = #{record.id, jdbcType=BIGINT} 
                    THEN #{record.secondLocationUrl, jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="top_location_url = CASE" suffix="END,">
                <foreach collection="records" item="record" index="index">
                    WHEN id = #{record.id, jdbcType=BIGINT} 
                    THEN #{record.topLocationUrl, jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="is_effective = CASE" suffix="END,">
                <foreach collection="records" item="record" index="index">
                    WHEN id = #{record.id, jdbcType=BIGINT} 
                    THEN #{record.isEffective, jdbcType=TINYINT}
                </foreach>
            </trim>
            <trim prefix="crawl_type = CASE" suffix="END,">
                <foreach collection="records" item="record" index="index">
                    WHEN id = #{record.id, jdbcType=BIGINT} 
                    THEN #{record.crawlType, jdbcType=TINYINT}
                </foreach>
            </trim>
            <trim prefix="gmt_update = CASE" suffix="END,">
                <foreach collection="records" item="record" index="index">
                    WHEN id = #{record.id, jdbcType=BIGINT} 
                    THEN NOW()
                </foreach>
            </trim>
        </trim>
        WHERE id IN
        <foreach collection="records" item="record" index="index" open="(" separator="," close=")">
            #{record.id, jdbcType=BIGINT}
        </foreach>
    </update>
    
    <update id="batchUpdateByPrimaryKeySelective" parameterType="com.rulai.spider.bean.model.MeishijieCookbookUrlDO">
        UPDATE meishijie_cookbook_url
        <trim prefix="SET" suffixOverrides=",">
            <trim prefix="is_crawled = CASE" suffix="END,">
                <foreach collection="records" item="record" index="index">
                    <if test="record.isCrawled != null">
                        WHEN id = #{record.id, jdbcType=BIGINT} 
                        THEN #{record.isCrawled, jdbcType=TINYINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="cookbook_name = CASE" suffix="END,">
                <foreach collection="records" item="record" index="index">
                    <if test="record.cookbookName != null">
                        WHEN id = #{record.id, jdbcType=BIGINT} 
                        THEN #{record.cookbookName, jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="cookbook_url = CASE" suffix="END,">
                <foreach collection="records" item="record" index="index">
                    <if test="record.cookbookUrl != null">
                        WHEN id = #{record.id, jdbcType=BIGINT} 
                        THEN #{record.cookbookUrl, jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="second_location_url = CASE" suffix="END,">
                <foreach collection="records" item="record" index="index">
                    <if test="record.secondLocationUrl != null">
                        WHEN id = #{record.id, jdbcType=BIGINT} 
                        THEN #{record.secondLocationUrl, jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="top_location_url = CASE" suffix="END,">
                <foreach collection="records" item="record" index="index">
                    <if test="record.topLocationUrl != null">
                        WHEN id = #{record.id, jdbcType=BIGINT} 
                        THEN #{record.topLocationUrl, jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="is_effective = CASE" suffix="END,">
                <foreach collection="records" item="record" index="index">
                    <if test="record.isEffective != null">
                        WHEN id = #{record.id, jdbcType=BIGINT} 
                        THEN #{record.isEffective, jdbcType=TINYINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="crawl_type = CASE" suffix="END,">
                <foreach collection="records" item="record" index="index">
                    <if test="record.crawlType != null">
                        WHEN id = #{record.id, jdbcType=BIGINT} 
                        THEN #{record.crawlType, jdbcType=TINYINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="gmt_update = CASE" suffix="END,">
                <foreach collection="records" item="record" index="index">
                    WHEN id = #{record.id, jdbcType=BIGINT} 
                    THEN NOW()
                </foreach>
            </trim>
        </trim>
        WHERE id IN
        <foreach collection="records" item="record" index="index" open="(" separator="," close=")">
            #{record.id, jdbcType=BIGINT}
        </foreach>
    </update>

    <sql id="MysqlDialectSuffix">
        <if test="pageOffset &gt;= 0 and pageSize &gt; 0">
            <![CDATA[ LIMIT #{pageOffset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER} ]]>
        </if>
    </sql>

</mapper>
